.root {
    position: relative;
    height: 300px;
    width: 100%;
}

.operationText {
    padding: 8px 16px;
}

.currentText {
    padding: 8px 16px;
    right: 0;
    bottom: 0;
    transform-origin: right;
    box-sizing: border-box;
}